.heading{
  color:blue;
 background-color: yellow ;
}
body{
  background-color:skyblue;
}
button{
  background-color:purple ;
 color: white;
}
.heading4{
color: blueviolet;
background-color:white;
}
.heading2{
  color:black;
  background-color: blueviolet;
}